<h2>7日間分の投稿数</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= books.created_6days.count %></td>
      <td><%= books.created_5days.count %></td>
      <td><%= books.created_4days.count %></td>
      <td><%= books.created_3days.count %></td>
      <td><%= books.created_2days.count %></td>
      <td><%= books.created_yesterday.count %></td>
      <td><%= books.created_today.count %></td>
    </tr>
  </tbody>
</table>

<%= line_chart books.group_by_day(:created_at, last: 7).count %>